<!DOCTYPE html>
<html lang="en">


<!-- molla/elements-products.html  22 Nov 2019 10:04:52 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stylo </title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="userAssets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="userAssets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="userAssets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="userAssets/images/icons/site.html">
    <link rel="mask-icon" href="userAssets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="userAssets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="userAssets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="userAssets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="userAssets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="userAssets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="userAssets/css/plugins/jquery.countdown.css">
    <link rel="stylesheet" href="userAssets/css/plugins/nouislider/nouislider.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="userAssets/css/style.css">
    <!-- Include SweetAlert2 CSS and JS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
    <div class="page-wrapper">
        <header class="header">

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only"> mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="userAssets/images/stylologo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href='/' class="sf-with-ul">Home</a>
                                </li>
                                <li>
                                    <a href='/productList' class="sf-with-ul">Shop</a>

                                </li>
                                <li>
                                    <a href="/contactUs" class="sf-with-ul">CONTACT US</a>

                                </li>
                                <li>
                                    <a href="/myAccount" class="sf-with-ul">ACCOUNT</a>

                                </li>
                                <li>
                                    <% if(typeof user !=='undefined' ){%>
                                        <a href="/logout" class="sf-with-ul">LOGOUT</a>
                                </li>
                                <% }else{%>
                                    <li>
                                        <a href="/login" class="sf-with-ul">LOGIN</a>
                                    </li>
                                    <% } %>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <form action="/productList?search=" method="get" id="headerSearchForm">
                                <!-- <a href="/productList?search=" class="search-toggle active" role="button" title="Search">
                                    <i class="icon-search"></i></a> -->
                                <div class="header-search-wrapper show">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="search" id="search"
                                        placeholder="Search in..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->

                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <!-- <span class="wishlist-count"></span> -->
                        </a>

                        <div class="dropdown cart-dropdown">
                            <!-- <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" -->
                            <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                                aria-expanded="false" data-display="static" aria-haspopup="true" aria-expanded="false"
                                data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="cart-count"></span> -->
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->