<%- include('../partials/admin/header') %>
    <div class="container-scroller">
        <%- include('../partials/admin/sidePanel') %>
            <div class="container-fluid page-body-wrapper">
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="display-flex justify-content-between">
                                            <h4 class="card-title">Category Offer Management</h4>

                                            <a href="/admin/addoffersCat" class="btn-primary" type="button">+ ADD OFFERS</a>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>

                                                        <th> S.No </th>
                                                        <!-- <th> Image </th> -->
                                                        <th> Category Name</th>
                                                        <th> Offers %</th>
                                                        <th> Ending Date</th>
                                                        <!-- <th> Price</th> -->
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%- include('../partials/admin/footer') %>