<!DOCTYPE html>
<html lang="en">


<!-- molla/index-18.html  22 Nov 2019 10:00:41 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stylo - Home</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="userAssets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="userAssets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="userAssets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="userAssets/images/icons/site.html">
    <link rel="mask-icon" href="userAssets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="userAssets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="userAssets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="userAssets/css/bootstrap.min.css">
    <link rel="stylesheet" href="userAssets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="userAssets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="userAssets/css/style.css">
    <link rel="stylesheet" href="userAssets/css/demos/demo-18.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-11">
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" class="sf-with-ul">Home</a>
                                </li>
                                <li>
                                    <a href="/productList" class="sf-with-ul">SHOP</a>
                                </li>
                                <li>
                                    <a href="/contactUs" class="sf-with-ul">CONTACT</a>                                  
                                </li>
                                <li>
                                    <a href="/myAccount" class="sf-with-ul">ACCOUNT</a>
                                </li>
                                <% if(typeof user !=='undefined'){%>
                                    <li>
                                        <a href="/logout" class="sf-with-ul">LOGOUT</a>
                                </li>
                                <% }else{%>    
                                <li>
                                    
                                    <a href="/login" class="sf-with-ul">LOGIN</a>
                                </li>
                                <% } %>    
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <a href="/" class="logo">
                            <img src="userAssets/images/demos/demo-18/stylologo.png" alt="Molla Logo" width="82" height="25">
                        </a>
                    </div><!-- End .header-center -->

                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="" method="get" id="headerSearchForm">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="search" id="search placeholder= "Search in...
                                     required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        
                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <!-- <span class="wishlist-count"></span> -->
                        </a>

                        <div class="dropdown cart-dropdown">
                            <!-- <a href="/cart" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"> -->
                            <a href="/cart" class="dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="cart-count">2</span> -->
                            </a>

                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->


        <main class="main">
            <div class="intro-slider-container mb-3 mb-lg-5">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"dots": true, "nav": false}'>
                    <div class="intro-slide" style="background-image: url(userAssets/images/demos/demo-18/slider/slide-1.jpg);">
                        <div class="container">
                            <div class="intro-content text-center">
                                <h3 class="intro-subtitle cross-txt text-primary">SEASONAL PICKS</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Summer Sale</h1><!-- End .intro-title -->
                                <div class="intro-text text-white">up to 70% off</div><!-- End .intro-text -->
                                <div class="intro-action cross-txt">
                                    <a href="/prodictList" class="btn btn-outline-white">
                                        <span>Discover More</span>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide" style="background-image: url(userAssets/images/demos/demo-18/slider/slide-2.jpg);">
                        <div class="container">
                            <div class="intro-content text-center">
                                <h3 class="intro-subtitle text-primary cross-txt">Women's Accessories</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title text-white">Save up to</h1><!-- End .intro-title -->
                                <div class="intro-text text-white">30-50% off</div><!-- End .intro-text -->
                                <div class="intro-action cross-txt">
                                    <a href="category.html" class="btn btn-outline-white">
                                        <span>Discover More</span>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader text-white"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <div class="container banners">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner banner-hover">
                            <a href="#">
                                <img src="userAssets/images/demos/demo-18/banners/banner-1.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="#">Sweatshirts & Hoodies</a></h3><!-- End .banner-title -->
                                <a href="/productList" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-6 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="banner banner-hover">
                            <a href="#">
                                <img src="userAssets/images/demos/demo-18/banners/banner-2.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="#">Men’s Jacket</a></h3><!-- End .banner-title -->
                                <a href="productList" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="banner banner-hover">
                            <a href="#">
                                <img src="userAssets/images/demos/demo-18/banners/banner-3.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="#">Women’s jackets</a></h3><!-- End .banner-title -->
                                <a href="productList" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->

                        <div class="banner banner-hover">
                            <a href="#">
                                <img src="userAssets/images/demos/demo-18/banners/banner-4.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h3 class="banner-title text-white"><a href="#">Accessories</a></h3><!-- End .banner-title -->
                                <a href="/productList" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="container">
                <div class="row">
                   
                   
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="bg-lighter pt-5 pb-5">
                <div class="container">
                    <div class="heading text-center">
                        <h2 class="title instagram">Let Us Inspire You On Universe</h2><!-- End .title -->
                        <p class="title-desc">Wear your style.</p><!-- End .title-desc -->
                    </div><!-- End .heading -->

                    <div class="owl-carousel owl-simple mb-3" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "items": 5,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "360": {
                                    "items":2
                                },
                                "600": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":5
                                }
                            }
                        }'>
                        <div class="instagram-feed">
                            <img src="userAssets/images/demos/demo-18/instagram/1.jpg" alt="img">

                            <div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>466</a>
                                <a href="#"><i class="icon-comments"></i>65</a>
                            </div><!-- End .instagram-feed-content -->
                        </div><!-- End .instagram-feed -->

                        <div class="instagram-feed">
                            <img src="userAssets/images/demos/demo-18/instagram/2.jpg" alt="img">

                            <div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div><!-- End .instagram-feed-content -->
                        </div><!-- End .instagram-feed -->

                        <div class="instagram-feed">
                            <img src="userAssets/images/demos/demo-18/instagram/3.jpg" alt="img">

                            <div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>123</a>
                                <a href="#"><i class="icon-comments"></i>10</a>
                            </div><!-- End .instagram-feed-content -->
                        </div><!-- End .instagram-feed -->
                        <div class="instagram-feed">
                            <img src="userAssets/images/demos/demo-18/instagram/4.jpg" alt="img">

                            <div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>290</a>
                                <a href="#"><i class="icon-comments"></i>0</a>
                            </div><!-- End .instagram-feed-content -->
                        </div><!-- End .instagram-feed -->
                        <div class="instagram-feed">
                            <img src="userAssets/images/demos/demo-18/instagram/5.jpg" alt="img">

                            <div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>582</a>
                                <a href="#"><i class="icon-comments"></i>98</a>
                            </div><!-- End .instagram-feed-content -->
                        </div><!-- End .instagram-feed -->
                    </div><!-- End .owl-carousel -->

                    <div class="more-container text-center">
                        <a href="#" class="btn btn-outline-primary-2 btn-more">@Stylo Fashion</a>
                    </div><!-- End .more-container -->
                </div><!-- End .container -->
            </div><!-- End .bg-lighter pt-5 pb-5 -->
        </main><!-- End .main -->

        <%- include('../partials/user/footer.ejs') %>
