<%-include('../partials/user/header.ejs') %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Password Entry</h3>
            <form action="/resetpassPost" method="POST">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
                <span id="password-error" class="text-danger"></span>

              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="newPassword" class="form-control" id="confirmPassword"
                  placeholder="Re-enter your password" required>
              </div>
              <input type="hidden" name="token" value="<%= token %>">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/user/footer.ejs') %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script>
    const passwordInput = document.getElementById('password');
    const confirmPasswordInput = document.getElementById('confirmPassword');
    const submitButton = document.querySelector('form button');

    confirmPasswordInput.addEventListener('input', () => {
      const password = passwordInput.value;
      const confirmPassword = confirmPasswordInput.value;

      if (password === confirmPassword) {
        submitButton.removeAttribute('disabled');
      } else {
        submitButton.setAttribute('disabled', 'disabled');
      }
    });


    passwordInput.addEventListener('input', () => {
      const password = passwordInput.value;
      
      // Add your strong password validation criteria here
      const isStrongPassword = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+])[0-9a-zA-Z!@#$%^&*()_+]{8,}$/.test(password);

      if (!isStrongPassword) {
        passwordError.textContent = 'Password must be 8 characters long and include at least one uppercase letter, one lowercase letter, one special character, and one number.';
      } else {
        passwordError.textContent = '';
      }
    });
    // Add this script to show SweetAlert on successful password update
    const showAlert = () => {
      Swal.fire({
        icon: 'success',
        title: 'Password Updated!',
        text: 'Your password has been updated successfully.',
      }).then(() => {
        // Redirect to the login page
        window.location.href = '/login';
      });
    };

    // Check for the flag in the session or local storage
    // const passwordUpdateSuccess = req.session.passwordUpdateSuccess ? 'true' : 'false';



    // if (passwordUpdateSuccess) {
    //   showAlert();
    // }
  </script>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

